
body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}

a {
    color: rgb(128, 255, 255);
}
a:hover {
    color: rgb(128, 128, 255);
}

a.nav-link {
    color: white;
    margin-right: 30px;
    font-size: 18px;
}

p {
    font-size: 17px;
}

div#benContent {
    padding-top: 20px;
    margin-bottom: 80px;
}

h1 {
    font-size: 42px;
    line-height: 1.5em;
}

h3 {
    line-height: 1.5em;
    padding-bottom: 10px;
}

li {
    font-size: 17px;
    padding-bottom: 3px;
}

